html {
  background: url("./img/walpaper2.jpg");
  margin: 0px;
  padding: 0px;
  height: 4000px;
  overflow-x: hidden;
}

#apresentation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_profile {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #192c4c 0%, rgba(57, 57, 57, 0) 100%);
  padding: 0px;
  width: max-content;
  height: 500px;
  border-radius: 20px 20px 50% 50%;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

.img_profile {
  scale: 0.4;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

.content_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.text_profile {
  color: aliceblue;
  font-family: "Courier New", monospace, Arial;
}

.title {
  font-size: 4rem;
}

.subTitle {
  font-size: 2.5rem;
}

#skill {
  margin-top: 900px;
  width: 100%;
  height: 2000px;
  /* background: rebeccapurple; */
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

.content_skillTitle {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: rgba(8, 39, 125, 0.8);
  font-size: 1.7rem;
  width: 100%;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 100px;
}

.list_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.card_item {
  display: flex;
  color: aliceblue;
  background: linear-gradient(180deg, #192c4c 0%, rgba(57, 57, 57, 0) 100%);
  font-size: 1.5rem;
  text-align: center;
  width: 350x;
  padding: 40px;
  height: max-content;
  font-family: "Courier New", monospace, Arial;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(78, 78, 78, 0.5));
}

#competence {
  margin-top: -1000px;
}

.competence_text {
  font-size: 1rem;
}

#footer_description {
  background: linear-gradient(180deg, #192c4c 0%, rgba(57, 57, 57, 0) 100%);
  margin-top: 200px;
  width: 100%;
  height: 500px;
  border-radius: 20px 20px;
  padding: 30px;
}

.links {
  position: absolute;
  bottom: 0;
}

.footer_info {
  font-family: "Courier New", monospace, Arial;
  color: aliceblue;
}
